html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 60px; /* Adjust this value to match your navbar's height */
}

.container {
    flex-grow: 1;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4491e3;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar .logo {
    height: 35px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    /* Centrage des liens */
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #0c4a72;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

/* Effet de soulignement sur tous les liens de la navbar sauf ceux avec la classe .dropdown-toggle */
.navbar a:not(.dropdown-toggle)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Modification de l'épaisseur du soulignement */
    background-color: #fff; /* Modification de la couleur */
    left: 50%;
    bottom: -2px; /* Décalage vers le bas */
    transform: translateX(-50%);
    transition: width 0.5s ease, transform 0.5s ease; /* Modification de la vitesse de l'animation */
}

.navbar a:not(.dropdown-toggle):hover::after {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}


.navbar a:hover {
    color: red; /* Optionnel : changer la couleur du texte au survol */
}

/* .navbar a:hover::after {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
} */

.navbar-light .navbar-nav .nav-link {
    color: #ffffff  !important;; /* Texte blanc */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Blanc plus clair au survol */
}

/* Aligner les éléments du compte et du panier */
.nav-account {
    display: flex;
    align-items: center;
}

.nav-account .dropdown {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-account .dropdown a {
    display: flex;
    align-items: center;
    /* Alignement vertical de l'icône et du texte */
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

.nav-account .dropdown a i {
    margin-right: 8px;
    /* Espacement entre l'icône et le texte */
}

/* Style du panier (icône) */
.nav-account .cart-icon {
    margin-left: 20px;
    /* Espacement entre le compte et l'icône du panier */
    display: flex;
    align-items: center;
}

.nav-account .cart-icon i {
    font-size: 20px;
    color: #fff;
}

/* Dropdown menu */
.nav-account .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 180px;
}

.nav-account .dropdown:hover .dropdown-menu {
    display: block;
}

.nav-account .dropdown-menu a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s;
}

.nav-account .dropdown-menu a:hover {
    background-color: #f0f0f0;
}

/* Style du compteur comme une pastille rouge */
.navbar .cart-counter {
    position: absolute; /* Positionner par rapport à l'icône */
    top: -1px;  /* Décalage vers le haut */
    right: -5px;  /* Décalage vers la droite */
    background-color: #e74c3c; /* Rouge vif pour la pastille */
    color: #fff; /* Texte en blanc */
    border-radius: 50%; /* Rendre la pastille ronde */
    padding: 2px 7px; /* Taille de la pastille */
    font-size: 12px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    display: none; /* Cacher par défaut */
    z-index: 100; /* S'assurer que la pastille soit au-dessus de l'icône */
    text-align: center; /* Centrer le texte dans la pastille */
}

/* Afficher la pastille si le compteur est supérieur à 0 */
.navbar .cart-counter.show {
    display: inline-block; /* Afficher la pastille */
}

/* --- Footer --- */

/* Footer */
.footer {
    background-color: #4491e3;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #0c4a72;
}

.footer-section p {
    font-size: 14px;
    color: #ffffff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #dce4e9;
    /* Assombrissement des liens */
    font-size: 14px;
    position: relative;
    transition: color 0.3s, text-decoration 0.3s;
}

.footer-section ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #fff;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 0.3s ease, transform 0.3s ease;
}

.footer-section ul li a:hover {
    color: #fff;
    text-decoration: none;
    /* Retirer le soulignement traditionnel pour l'effet custom */
}

.footer-section ul li a:hover::after {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    font-size: 18px;
    color: #fff;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #0c4a72;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    font-size: 14px;
}

.footer-section button {
    padding: 10px;
    background-color: #0c4a72;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-section button:hover {
    background-color: #2980b9;
    filter: brightness(90%);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #ecf0f1;
}


/* --- HEADER --- */
.header-section {
    background-size: cover;
    /* L'image couvre toute la surface */
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* S'assure que le header prend toute la largeur */
    position: relative;
    /* Pour le contrôle de l'overlay */
}


/* L'overlay sombre */
.header-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Assombrissement de l'overlay, ajuste l'opacité selon tes besoins */
    z-index: 0;
    /* Assurez-vous que l'overlay soit sous le contenu */
}

/* Titre et texte dans le header */
.header-section h1,
.header-section p,
.header-section .btn {
    z-index: 2;
    /* Placer le texte et les boutons au-dessus de l'overlay */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    /* Ombre sur le texte pour plus de contraste */
    color: white;
}

/* Ajuste le style du bouton */
.header-section .btn {
    padding: 12px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #3498db;
    border: none;
    transition: background-color 0.3s ease;
}

.header-section .btn:hover {
    background-color: #2980b9;
    /* Changement de couleur au survol */
}
